<section class="register-area">
    <div class="row m-0">
        <div class="col-lg-6 col-md-12 p-0">
            <div class="register-image">
                <!-- <img src="assets/img/register-bg.jpg" alt="image"> -->
                <img src="../../../../assets/img/talabat-Rider-1.jpg" alt="image">
            </div>
        </div>

        <div class="col-lg-6 col-md-12 p-0">
            <div class="register-content">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="register-form">
                            <div class="logo">
                                <a routerLink="/"><img src="assets/img/logos/logo-light.png" alt="image"></a>
                            </div>

                            <h3>Signup</h3>
                            <p>Already register? <a routerLink="/login">Login</a></p>

                            <form [formGroup]="registerForm" sub (ngSubmit)="signUp()">
                                <div class="form-group">
                                    <input type="email" placeholder="Enter Your Email" formControlName="email" class="form-control">
                                </div>

                                <div class="form-group">
                                    <input type="password" placeholder="Enter Your Password" formControlName="password" class="form-control">
                                </div>

                                <div class="form-group">
                                    <input type="password" placeholder="Confirm Your Password" formControlName="cpassword" class="form-control">
                                </div>
<!--
                               z <button *ngIf="showSignupBtn" type="submit" [disabled]="registerForm.invalid">Signup</button> -->
                            </form>
                        </div>
                        <app-captcha [buttonName]="buttonName" (captchaEvent)="captchaEventHandler($event)"></app-captcha>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
