<app-header-two></app-header-two>

<section class="main-banner-wrapper">
    <div class="container">
        <div class="banner-wrapper-content">
            <h1>Search local directories and <a href="" class="typewrite" data-period="2000" data-type='[ "Restaurants", "Hotels", "Shops", "Fitness" ]'><span class="wrap"></span></a> here</h1>
            <p>Find directories around the country. Add your business to Braike and make sure customers always find the right information about your business.</p>

            <form>
                <input type="text" class="input-search" placeholder="What are you looking for?">
                <button type="button">Search</button>
            </form>
        </div>
    </div>
</section>

