<app-header-two></app-header-two>

<section class="main-banner-wrapper">
    <div class="container">
        <div class="banner-wrapper-content">
            <h1>Welcome to Driver Portal.</h1>
            <p>If you are a driver please register and fill application to get the job when you qualify.</p>

            <!-- <form>
                <input type="text" class="input-search" placeholder="What are you looking for?">
                <button type="button">Search</button>
            </form> -->

            <!-- <a href="/" class="typewrite" data-period="2000" data-type='[ "Restaurants", "Hotels", "Shops", "Fitness" ]'><span class="wrap"></span></a> -->
        </div>
    </div>
</section>

