<app-header-one></app-header-one>
<!-- <app-header-two></app-header-two> -->
<div class="page-title-area page-title-bg3">
    <div class="container">
        <div class="page-title-content">
            <h2>Fill Job Application</h2>
        </div>
    </div>
</div>

<section class="about-area ptb-100">

    <div class="container">
        <div class="add-listing-box mb-30">
            <form [formGroup]="basicInfoForm" *ngIf="activeFormIndex == 0 ">
                <div class="row">
                    <h3>Basic Informations</h3>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label><i class='bx bx-briefcase-alt'></i> First Name<span>*</span> :</label>
                            <input type="text" class="form-control" placeholder="Legal First Name"
                                formControlName="first_name">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label><i class='bx bx-location-plus'></i> Passport Number<span>*</span> :</label>
                            <input type="text" class="form-control" placeholder="Valid Passport Number"
                                formControlName="passport_number">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label><i class='bx bx-briefcase-alt'></i> Last Name<span>*</span> :</label>
                            <input type="text" class="form-control" placeholder="Legal Last Name"
                                formControlName="last_name">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label><i class='bx bx-calendar'></i> Date of Birth<span>*</span> :</label>
                            <input type="date" class="form-control" formControlName="dob">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label><i class='bx bx-calendar'></i> Nationality<span>*</span> :</label>
                            <input list="nationality" class="form-control" formControlName="nationality">
                            <datalist id="nationality">
                                <option value="-- Select one --">
                                <option value="Afghan">
                                <option value="Albanian">
                                <option value="Algerian">
                                <option value="American">
                                <option value="Andorran">
                                <option value="Angolan">
                                <option value="Antiguans">
                                <option value="Argentinean">
                                <option value="Armenian">
                                <option value="Australian">
                                <option value="Austrian">
                                <option value="Azerbaijani">
                                <option value="Bahamian">
                                <option value="Bahraini">
                                <option value="Bangladeshi">
                                <option value="Barbadian">
                                <option value="Barbudans">
                                <option value="Batswana">
                                <option value="Belarusian">
                                <option value="Belgian">
                                <option value="Belizean">
                                <option value="Beninese">
                                <option value="Bhutanese">
                                <option value="Bolivian">
                                <option value="Bosnian">
                                <option value="Brazilian">
                                <option value="British">
                                <option value="Bruneian">
                                <option value="Bulgarian">
                                <option value="Burkinabe">
                                <option value="Burmese">
                                <option value="Burundian">
                                <option value="Cambodian">
                                <option value="Cameroonian">
                                <option value="Canadian">
                                <option value="Cape Verdean">
                                <option value="Central African">
                                <option value="Chadian">
                                <option value="Chilean">
                                <option value="Chinese">
                                <option value="Colombian">
                                <option value="Comoran">
                                <option value="Congolese">
                                <option value="Costa Rican">
                                <option value="Croatian">
                                <option value="Cuban">
                                <option value="Cypriot">
                                <option value="Czech">
                                <option value="Danish">
                                <option value="Djibouti">
                                <option value="Dominican">
                                <option value="Dutch">
                                <option value="East Timorese">
                                <option value="Ecuadorean">
                                <option value="Egyptian">
                                <option value="Emirian">
                                <option value="Equatorial Guinean">
                                <option value="Eritrean">
                                <option value="Estonian">
                                <option value="Ethiopian">
                                <option value="Fijian">
                                <option value="Filipino">
                                <option value="Finnish">
                                <option value="French">
                                <option value="Gabonese">
                                <option value="Gambian">
                                <option value="Georgian">
                                <option value="German">
                                <option value="Ghanaian">
                                <option value="Greek">
                                <option value="Grenadian">
                                <option value="Guatemalan">
                                <option value="Guinea-Bissauan">
                                <option value="Guinean">
                                <option value="Guyanese">
                                <option value="Haitian">
                                <option value="Herzegovinian">
                                <option value="Honduran">
                                <option value="Hungarian">
                                <option value="Icelander">
                                <option value="Indian">
                                <option value="Indonesian">
                                <option value="Iranian">
                                <option value="Iraqi">
                                <option value="Irish">
                                <option value="Israeli">
                                <option value="Italian">
                                <option value="Ivorian">
                                <option value="Jamaican">
                                <option value="Japanese">
                                <option value="Jordanian">
                                <option value="Kazakhstani">
                                <option value="Kenyan">
                                <option value="Kittian and Nevisian">
                                <option value="Kuwaiti">
                                <option value="Kyrgyz">
                                <option value="Laotian">
                                <option value="Latvian">
                                <option value="Lebanese">
                                <option value="Liberian">
                                <option value="Libyan">
                                <option value="Liechtensteiner">
                                <option value="Lithuanian">
                                <option value="Luxembourger">
                                <option value="Macedonian">
                                <option value="Malagasy">
                                <option value="Malawian">
                                <option value="Malaysian">
                                <option value="Maldivan">
                                <option value="Malian">
                                <option value="Maltese">
                                <option value="Marshallese">
                                <option value="Mauritanian">
                                <option value="Mauritian">
                                <option value="Mexican">
                                <option value="Micronesian">
                                <option value="Moldovan">
                                <option value="Monacan">
                                <option value="Mongolian">
                                <option value="Moroccan">
                                <option value="Mosotho">
                                <option value="Motswana">
                                <option value="Mozambican">
                                <option value="Namibian">
                                <option value="Nauruan">
                                <option value="Nepalese">
                                <option value="New Zealander">
                                <option value="Ni-Vanuatu">
                                <option value="Nicaraguan">
                                <option value="Nigerien">
                                <option value="North Korean">
                                <option value="Northern Irish">
                                <option value="Norwegian">
                                <option value="Omani">
                                <option value="Pakistani">
                                <option value="Palauan">
                                <option value="Panamanian">
                                <option value="Papua New Guinean">
                                <option value="Paraguayan">
                                <option value="Peruvian">
                                <option value="Polish">
                                <option value="Portuguese">
                                <option value="Qatari">
                                <option value="Romanian">
                                <option value="Russian">
                                <option value="Rwandan">
                                <option value="Saint Lucian">
                                <option value="Salvadoran">
                                <option value="Samoan">
                                <option value="San Marinese">
                                <option value="Sao Tomean">
                                <option value="Saudi">
                                <option value="Scottish">
                                <option value="Senegalese">
                                <option value="Serbian">
                                <option value="Seychellois">
                                <option value="Sierra Leonean">
                                <option value="Singaporean">
                                <option value="Slovakian">
                                <option value="Slovenian">
                                <option value="Solomon Islander">
                                <option value="Somali">
                                <option value="South African">
                                <option value="South Korean">
                                <option value="Spanish">
                                <option value="Sri Lankan">
                                <option value="Sudanese">
                                <option value="Surinamer">
                                <option value="Swazi">
                                <option value="Swedish">
                                <option value="Swiss">
                                <option value="Syrian">
                                <option value="Taiwanese">
                                <option value="Tajik">
                                <option value="Tanzanian">
                                <option value="Thai">
                                <option value="Togolese">
                                <option value="Tongan">
                                <option value="Trinidadian or Tobagonian">
                                <option value="Tunisian">
                                <option value="Turkish">
                                <option value="Tuvaluan">
                                <option value="Ugandan">
                                <option value="Ukrainian">
                                <option value="Uruguayan">
                                <option value="Uzbekistani">
                                <option value="Venezuelan">
                                <option value="Vietnamese">
                                <option value="Welsh">
                                <option value="Yemenite">
                                <option value="Zambian">
                                <option value="Zimbabwean">
                            </datalist>

                            <!-- <input type="text" class="form-control" formControlName="nationality"> -->
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label><i class='bx bx-phone-call'></i> Phone Number<span>*</span> :</label>
                            <div class="phone-container">
                                <input list="countryCodePhone1" class="form-control countrycode"
                                    formControlName="countryCodePhone">
                                <datalist id="countryCodePhone1">
                                    <ng-container *ngFor="let c of countries">
                                        <option [value]="c.code">{{c.countryName}}</option>
                                    </ng-container>
                                </datalist>
                                <input type="text" class="form-control" placeholder="Phone number"
                                    formControlName="phone_number">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label><i class='bx bx-phone-call'></i> Whatsapp Number<span>*</span> :</label>
                            <!-- All countries -->
                            <div class="phone-container">
                                <input list="countryCodeWhats2" class="form-control countrycode"
                                    formControlName="countryCodeWhats">
                                <datalist id="countryCodeWhats2">
                                    <ng-container *ngFor="let c of countries">
                                        <option [value]="c.code">{{c.countryName}}</option>
                                    </ng-container>
                                </datalist>
                                <input type="text" class="form-control" placeholder="Whatsapp number"
                                    formControlName="whatsapp_number">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label><i class='bx bx-phone-call'></i> Emergency Phone Number<span>*</span> :</label>
                            <div class="phone-container">
                                <input list="countryCodeEmergency3" class="form-control countrycode"
                                    formControlName="countryCodeEmergency">
                                <datalist id="countryCodeEmergency3">
                                    <ng-container *ngFor="let c of countries">
                                        <option [value]="c.code">{{c.countryName}}</option>
                                    </ng-container>
                                </datalist>
                                <input type="text" class="form-control" placeholder="Emergency Phone number"
                                    formControlName="emergency_phone_number">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label><i class='bx bxs-envelope'></i> Email<span>*</span> :</label>
                            <input type="text" class="form-control" placeholder="Email" formControlName="email">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label><i class='bx bx-location-plus'></i> Address<span>*</span> :</label>
                            <input type="text" class="form-control" placeholder="Leagal Address"
                                formControlName="address">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label><i class='bx bxs-car'></i> Applying For<span>*</span> :</label>
                            <div class="row">
                                <div class="add-list-media-header">
                                    <label class="radio">
                                        <input type="radio" formControlName="applying_for" value="1">
                                        <span>Car</span>
                                    </label>
                                </div>
                                <div class="add-list-media-header">
                                    <label class="radio">
                                        <input type="radio" formControlName="applying_for" value="2">
                                        <span>Bike</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label><i class='bx bx-text'></i> About you<span>*</span> :</label>
                            <textarea formControlName="about_you" class="form-control" id="" cols="30"
                                rows="3"></textarea>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <button type="button" class="application-btn" (click)="handleNextPrevious(true)">Next <i
                                class='bx bx-right-arrow-alt'></i></button>
                        <button type="button" class="application-btn" (click)="submitBasicForm()">Save and Next <i
                                class='bx bx-right-arrow-alt'></i></button>
                    </div>
                </div>
            </form>

            <form [formGroup]="docsForm" *ngIf="activeFormIndex == 1 ">
                <div class="row">
                    <h3>Documents Required</h3>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label><i class='bx bx-briefcase-alt'></i> Pasport Copy<span>*</span> :</label>
                            <input type="file" class="form-control" formControlName="passport_copy"
                                (change)="imageHandler($event, 'passport_copy')">
                            <div class="upload-container" *ngIf="user.passport_copy">
                                <img [src]="imageUrl +'/'+ user.passport_copy" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label><i class='bx bx-briefcase-alt'></i> Photo<span>*</span> :</label>
                            <input type="file" class="form-control" formControlName="photo"
                                (change)="imageHandler($event, 'photo')">
                            <div class="upload-container" *ngIf="user.photo">
                                <img [src]="imageUrl +'/'+ user.photo" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label><i class='bx bx-briefcase-alt'></i> Driving Liscense<span>*</span> :</label>
                            <input type="file" class="form-control" formControlName="driver_liscense"
                                (change)="imageHandler($event, 'driver_liscense')">
                            <div class="upload-container" *ngIf="user.driver_liscense">
                                <img [src]="imageUrl +'/'+ user.driver_liscense" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label><i class='bx bx-briefcase-alt'></i> Driving Liscense GCC :</label>
                            <input type="file" class="form-control" formControlName="driver_liscense_gcc"
                                (change)="imageHandler($event, 'driver_liscense_gcc')">
                            <div class="upload-container" *ngIf="user.driver_liscense_gcc">
                                <img [src]="imageUrl +'/'+ user.driver_liscense_gcc" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label><i class='bx bx-briefcase-alt'></i> CV<span>*</span> :</label>
                            <input type="file" class="form-control" formControlName="cv"
                                (change)="imageHandler($event, 'cv')">
                            <div class="upload-container" *ngIf="user.cv">
                                <img [src]="imageUrl +'/'+ user.cv" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label><i class='bx bx-briefcase-alt'></i> Driving Video<span>*</span> :</label>
                            <input type="file" class="form-control" formControlName="driving_video"
                                (change)="imageHandler($event, 'driving_video')">
                            <div class="upload-container" *ngIf="user.driving_video">
                                <video width="320" height="240" controls>
                                    <source [src]="imageUrl +'/'+ user.driving_video" type="video/mp4">
                                    <source [src]="imageUrl +'/'+ user.driving_video" type="video/ogg">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <button type="button" class="application-btn" (click)="handleNextPrevious(false)"><i
                                class='bx bx-left-arrow-alt'></i> Previous </button>
                        <button type="button" class="application-btn" (click)="submitDocsForm()">Save and Next <i
                                class='bx bx-right-arrow-alt'></i></button>
                        <button type="button" class="application-btn" (click)="handleNextPrevious(true)">Next <i
                                class='bx bx-right-arrow-alt'></i></button>
                    </div>
                </div>
            </form>

            <form [formGroup]="quesForm" *ngIf="activeFormIndex == 2 ">
                <div class="row">
                    <h3>Important Questions</h3>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <div class="sidebar-widgets">
                                <div class="box">
                                    <span class="title">1. Do you have any chronic illness ?</span>
                                    <label class="switch">
                                        <input type="checkbox" formControlName="cronic_illness">
                                        <span></span>
                                    </label>
                                </div>
                                <div class="box">
                                    <span class="title">2. Do you wear eyeglasses ?</span>
                                    <label class="switch">
                                        <input type="checkbox" formControlName="eyeglasses">
                                        <span></span>
                                    </label>
                                </div>
                                <div class="box">
                                    <span class="title">3. Do you speak english ?</span>
                                    <label class="switch">
                                        <input type="checkbox" formControlName="speak_english">
                                        <span></span>
                                    </label>
                                </div>
                                <div class="box">
                                    <span class="title">4. Do you have gulf experience ?</span>
                                    <label class="switch">
                                        <input type="checkbox" formControlName="gulf_exp">
                                        <span></span>
                                    </label>
                                </div>
                                <div class="box">
                                    <span class="title">4 a. If yes, Please enter number of years ?</span>
                                    <label class="text">
                                        <input type="text" formControlName="gulf_exp_num" class="form-control">
                                        <span></span>
                                    </label>
                                </div>
                                <div class="box">
                                    <span class="title">5. Your religion ?</span>
                                    <label class="text">
                                        <input type="text" formControlName="religion" class="form-control">
                                        <span></span>
                                    </label>
                                </div>
                                <div class="box">
                                    <span class="title">6. Do you have siblings in Qatar ?</span>
                                    <label class="switch">
                                        <input type="checkbox" formControlName="siblings_in_qatar">
                                        <span></span>

                                    </label>
                                </div>
                                <div class="box">
                                    <span class="title">7. Do you smoke ?</span>
                                    <label class="switch">
                                        <input type="checkbox" formControlName="smoke">
                                        <span></span>
                                    </label>
                                </div>
                                <div class="box">
                                    <span class="title">8. Do you drink ?</span>
                                    <label class="switch">
                                        <input type="checkbox" formControlName="drink">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <button type="button" class="application-btn" (click)="handleNextPrevious(false)"><i
                                class='bx bx-left-arrow-alt'></i> Previous </button>
                        <button type="button" class="application-btn" (click)="submitQuesForm()">Save and go to Payment
                            <i class='bx bx-right-arrow-alt'></i></button>
                        <button type="button" class="application-btn" (click)="handleNextPrevious(true)">Next <i
                                class='bx bx-right-arrow-alt'></i></button>
                    </div>
                </div>
            </form>

            <form [formGroup]="basicInfoForm" *ngIf="activeFormIndex == 3 ">
                <div class="row">
                    <div class="col-lg-12 col-md-12">

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label><i class='bx bxs-envelope'></i> We will change 150 QAR for submitting the
                                    application, please click on continue to pay.</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <button type="button" class="application-btn" (click)="handleNextPrevious(false)"><i
                                class='bx bx-left-arrow-alt'></i> Previous </button>
                        <button type="button" class="application-btn" (click)="handlepay()">Continue <i
                                class='bx bx-right-arrow-alt'></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- <div class="container" *ngIf="activeFormIndex == 2 ">

        <div class="add-listing-box mb-30">
            <h3>Answer Questions</h3>

            <form [formGroup]="activeForm">

            </form>
        </div>

        <div class="add-listing-box mb-30">
            <h3>Important Questions</h3>

            <form [formGroup]="activeForm">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label><i class='bx bx-briefcase-alt'></i> First Name<span>*</span> :</label>
                            <input type="text" class="form-control" placeholder="Legal First Name" formControlName="cronic_illness">
                        </div>
                    </div>


                    <div class="col-lg-12 col-md-12">
                        <button  type="button" class="application-btn" (click)="handleNextPrevious(1)">Next <i class='bx bx-right-arrow-alt'></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container" >

        <div class="add-listing-box mb-30">
            <h3>Answer Questions</h3>

            <form [formGroup]="activeForm">

            </form>
        </div>
    </div> -->
</section>
