<app-header-one></app-header-one>
<!-- <app-header-two></app-header-two> -->
<div class="page-title-area page-title-bg3">
    <div class="container">
        <div class="page-title-content">
            <h2>You have already submitted application.</h2>
            <h2 class="lead"><strong>Please wait for the reply from Drive In Qatar</strong>.</h2>
        </div>
    </div>
</div>

<!-- <section class="about-area ">
    <div class="jumbotron text-center">
        <h1 class="display-3">Thank You!</h1>
        <p class="lead"><strong>We have received your payment</strong>.</p>
        <hr>
        <p>
            Having trouble? <a href="">Contact us</a>
        </p>
    </div>
</section> -->
