<section class="login-area">
    <div class="row m-0">
        <div class="col-lg-6 col-md-12 p-0">
            <div class="login-image">
                <!-- <img src="https://picsum.photos/1200/1400" alt="image"> -->
                <img src="assets/img/talbat_boy.jpeg" alt="image">
            </div>
        </div>

        <div class="col-lg-6 col-md-12 p-0">
            <div class="login-content">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="login-form">
                            <div class="logo">
                                <a routerLink="/"><img src="assets/img/logos/logo-light.png" alt="image"></a>
                            </div>

                            <h3>Forget Password</h3>
                            <p>back to login <a routerLink="/login">Login</a></p>

                            <form *ngIf="!changePassword">
                                <div class="form-group">
                                    <input type="email" placeholder="Your Email Address" class="form-control" name="email" [(ngModel)]="email">
                                </div>
                                <div class="form-group" *ngIf="showOTP">
                                    <input type="text" placeholder="Enter OTP sent on email" class="form-control" name="otp" [(ngModel)]="otp">
                                </div>

                                <div class="forgot-password" *ngIf="resendBtn">
                                    <a (click)="emailHandler()">Resend OTP</a>
                                </div>
                                <div class="forgot-password" *ngIf="showOTP">
                                    <button class="btn btn-success btn-sm" (click)="submitOtp()">Submit OTP</button>
                                </div>
                            </form>
                            <form *ngIf="changePassword">
                                <div class="form-group">
                                    <input type="password" placeholder="New Password" class="form-control" name="newPwd" [(ngModel)]="newPwd">
                                </div>
                                <div class="form-group" >
                                    <input type="password" placeholder="Confirm New Password" class="form-control" name="cnfNewPwd" [(ngModel)]="cnfNewPwd">
                                </div>
                                <div class="forgot-password">
                                    <button class="btn btn-success btn-sm" (click)="submitNewPwd()">Change Password</button>
                                </div>
                            </form>
                        </div>
                        <app-captcha *ngIf="!showOTP" [buttonName]="buttonName" (captchaEvent)="captchaEventHandler($event)"></app-captcha>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
