<div class="partner-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Our Partners</h2>
        </div>

        <div class="partner-slides owl-carousel owl-theme">
            <div class="partner-item">
                <a href="#"><img src="assets/img/partner/talbat.png" alt="image"></a>
            </div>

            <div class="partner-item">
                <a href="#"><img src="assets/img/partner/uber.svg" alt="image"></a>
            </div>

            <div class="partner-item">
                <a href="#"><img src="assets/img/partner/uber-eats.png" alt="image"></a>
            </div>

        </div>
    </div>
</div>
