<header class="header-area">
    <div class="navbar-area navbar-style-two">
        <div class="louise-responsive-nav">
            <div class="container">
                <div class="louise-responsive-menu">
                    <div class="logo">
                        <a routerLink="/">
                            <img src="assets/img/black-logo.png" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="louise-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" routerLink="/">
                        <img src="assets/img/black-logo.png" alt="logo">
                    </a>

                    <div class="collapse navbar-collapse mean-menu">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Home</a></li>

                            <li class="nav-item"><a routerLink="/about" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">About</a></li>

                            <li class="nav-item"><a routerLink="/contact" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Contact</a></li>

                            <ng-container *ngIf="!user">
                                <li class="nav-item">
                                    <a routerLink="/login" class="nav-link default-btn-account"><i class="bx bx-log-in"></i> Login</a>
                                </li>

                                <li class="nav-item">
                                    <a routerLink="/register" class="nav-link default-btn-account"><i class="bx bx-log-in-circle"></i>
                                        Register</a>
                                </li>
                            </ng-container>

                            <ng-container *ngIf="user">
                                <li class="nav-item">
                                    <a routerLink="/application-page" class="nav-link"><i class="bx bx-log-in-circle"></i>
                                        My Account</a>
                                </li>
                                <li class="nav-item">
                                    <a (click)="logout()" class="nav-link"><i class="bx bx-log-in"></i> Logout</a>
                                </li>

                            </ng-container>
                        </ul>

                        <!-- For desktop -->
                        <!-- <div class="others-option" *ngIf="!user">
                            <div class="d-flex align-items-center">
                                <div class="option-item">
                                    <a href="/login" class="default-btn"><i class="bx bx-log-in"></i> Login</a>
                                </div>
                                <div class="option-item">
                                    <a href="/register" class="default-btn"><i class="bx bx-log-in-circle"></i>
                                        Register</a>
                                </div>
                            </div>
                        </div>
                        <div class="others-option" *ngIf="user">
                            <div class="d-flex align-items-center">
                                <div class="option-item">
                                    <a (click)="logout()" class="default-btn"><i class="bx bx-log-in"></i> Logout</a>
                                </div>
                                <div class="option-item">
                                    <a href="/application-page" class="default-btn"><i class="bx bx-log-in-circle"></i>
                                        My Account</a>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
